management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  tracing:
    sampling:
      probability: 1.0
    otlp:
      endpoint: ${OTEL_EXPORTER_OTLP_ENDPOINT:http://jaeger:4318/v1/traces}

server:
  port: 8083

spring:
  application:
    name: lms-course-service

springdoc:
  api-docs:
    path: /api/v1/courses/v3/api-docs
  
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/lms}
    username: ${DATABASE_USER:lms_user}
    password: ${DATABASE_PASSWORD:lms_password}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_schema: lms_course
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
  
  flyway:
    enabled: true
    locations: classpath:db/migration
    schemas: lms_course
    baseline-on-migrate: true
