server:
  port: 8081

spring:
  application:
    name: lms-user-service

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized
