apiVersion: v1
kind: Namespace
metadata:
  name: lms
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: lms-shared-config
  namespace: lms
data:
  KAFKA_BOOTSTRAP_SERVERS: "lms-kafka:9092"
  REDIS_HOST: "lms-redis"
  REDIS_PORT: "6379"
  POSTGRES_HOST: "lms-postgres"
  POSTGRES_PORT: "5432"
  AUTH_SERVICE_URL: "http://lms-auth-service:8082"
  USER_SERVICE_URL: "http://lms-user-service:8081"
  COURSE_SERVICE_URL: "http://lms-course-service:8083"
  ENROLLMENT_SERVICE_URL: "http://lms-enrollment-service:8084"
  NOTIFICATION_SERVICE_URL: "http://lms-notification-service:8088"
  ASSIGNMENT_SERVICE_URL: "http://lms-assignment-service:8087"
---
apiVersion: v1
kind: Secret
metadata:
  name: lms-secrets
  namespace: lms
type: Opaque
stringData:
  # Example secrets - In production, use a Secret Manager
  POSTGRES_USER: "lms"
  POSTGRES_PASSWORD: "lms_password"
  JWT_SECRET: "9a4f4c35e71913c9a3093d49f05fd033e61c37920367319c583c74871d368025"
