apiVersion: v1
kind: Secret
metadata:
  name: lms-secrets
  namespace: lms
type: Opaque
stringData:
  POSTGRES_USER: lms
  POSTGRES_PASSWORD: lms
  JWT_SECRET: dev-secret-key-32-characters-long-!!!!
  MAIL_USERNAME: mock
  MAIL_PASSWORD: mock
