spring:
  main:
    allow-bean-definition-overriding: true
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true
  kafka:
    bootstrap-servers: ${spring.kafka.bootstrap-servers}
  data:
    redis:
      host: ${spring.data.redis.host}
      port: ${spring.data.redis.port}

logging:
  level:
    root: INFO
    com.lms: DEBUG
    org.testcontainers: INFO
